    <tr>
        <td><%= fqdn %></td>
        <td><%= architecture %></td>
        <td><%= operatingsystem %> <%= operatingsystemrelease %></td>
        <td><%= processorcount %></td>
        <td><%= memorysize %></td>
        <td><%= is_virtual %></td>
        <td><%= ipaddress %></td>
        <td><%= timezone %></td>
        <td><%= l_updates %></td>
        <td><%= l_security_updates %></td>
        <td><%= l_reboot_required %></td>
        <td><%= admin %></td>
        <td><%= uptime %></td>
    </tr>
